<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SIMPLICITY_eFORMSEntities" connectionString="metadata=res://*/EFormsModel.csdl|res://*/EFormsModel.ssdl|res://*/EFormsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AHMADABDULLAH;initial catalog=SIMPLICITY_eFORMS;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>