<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <authentication mode="Forms">
          <!--  for production give domain as well -->          
          <forms name=".ASPXUSERDEMO" loginUrl="Login.aspx" protection="All" timeout="10" cookieless="UseCookies" domain="test-simplicity4business.co.uk" enableCrossAppRedirects="true"/>
        </authentication>
        <machineKey validationKey="2C202C020E48377C38A5048F20CA5FF4F29C05EE0F0E7D3C54E274E5A79F68028DBFCDA1780905A25714AA6644EEC60F234205790B55EC0D6D4AB7DA3AED88F1" decryptionKey="8E25DECBE9A13C8FB66DFA49FC06263795732554BDD0C26D0C18D00BA24BEF11" validation="SHA1" decryption="AES" />
    </system.web>
  <connectionStrings>
    <add name="SimplicityEntities" connectionString="metadata=res://*/SimplicityDataModel.csdl|res://*/SimplicityDataModel.ssdl|res://*/SimplicityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=Simplicity;Integrated Security=false;User Id=sa;Password=123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="AdminEmailAddress" value="alibinjamil@gmail.com,rashid.awan@gmail.com"/>
    <add key="FromEmailAddress" value="alibinjamil@gmail.com"/>
    <add key="CyberSourceURL" value="https://orderpagetest.ic3.com/hop/ProcessOrder.do"/>
    <add key="RedirectURL" value="http://94.236.98.81/web.html"/>
    <add key="PaymentOffline" value="false"/>
    <add key="MerchantID" value="ultranovacoding_moto"/>
    <add key="PublicKey" value="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQD3xRFysfMjx5yqtxND85vB9C/MH6V94+ZN1FqI1cgrornPIlYsUIyj86AlZ/yC21rKM/HIu30vuvCpQb2xxScGE4uqHqVaLM9J5/me9JN09DYGe+Wp9Bgn5LI/3soGGbxVRbetOxGtvsKAG0GU3x7/xTeaIJ6sDKpvyz9wfd/KjwIDAQAB"/>
    <add key="PrivateKey" value="MIICdwIBADANBgkqhkiG9w0BAQEFAASCAmEwgg`JdAgEAAoGBAPfFEXKx8yPHnKq3E0Pzm8H0L8wfpX3j5k3UWojVyCuiuc8iVixQjKPzoCVn/ILbWsoz8ci7fS+68KlBvbHFJwYTi6oepVosz0nn+Z70k3T0NgZ75an0GCfksj/eygYZvFVFt607Ea2+woAbQZTfHv/FN5ognqwMqm/LP3B938qPAgMBAAECgYBycV0YzCcRLL8pfzxv05LrKF33e9qV5nFXG7HhqFU4CoamrSZ+e4oqpHohLQHOc4FhClMws6EkLcXBeDMlbHoUBMPxxRRNdN/YxZtmgmOal4x/cJ8OraHqUFwfehHGXg1tej88vz7ct6Wg4+KDyOUlfc63bPKvk7Zae6Q9Hq6IwQJBAPy7cOvHmW1VJzQa/NPjLMscs3Bz4SJdSeDjB16y0pKocfQQso7WjPWk04EscENvu3iyATUP0XLoctJXa1yv8WECQQD6+TOD82PDLb0SXbTPk7+SPB3IKlIeywMSI+jtaU5WbTj7ZwCjqLAihziCVy11hwrVm2oN/DtEvaGWLrAwVhHvAkAtOxqlh+5ki9XdVGslPMYaf8N5f7OuI8YCEn+SKizXhIAIbyiVub42hE46EwrwdsG1gx4GMhOJHiLWlECpsO9hAkEA1V4p6uNwjE4FcWjTQKrG8qdDVpqMSHul97Up4TVnEVk4WZv/UiQm4qP9aep9zm5pyqKfbpZjORTTHKBC0EVMZwJBAMX0Y5JeoBEQFskejz1NXUU/sstaY8RRf3JagtIwHkwXZqnwGIJ7eEsdSt74M5BaTxQY7MnD+BdZ5sd8fLVancs="/>
    <add key="SerialNumber" value="2662573288090176056187"/>
    <add key="HSURL" value="http://hs.test-simplicity4business.co.uk"/>
    <add key="HSDB" value="Data Source=UMAIR-PC\SQLEXPRESS;Initial Catalog=HS22;User Id=sa;Password=123;"/>
    <add key="CopyDataToHSProcedure" value="SimplicityDataReplication"/>
    <add key="MarkHSPurchasedProcedure" value="CompanyTrialUpdate"/>
  </appSettings>
</configuration>
