<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SimplicityEntities" connectionString="metadata=res://*/SimplicityDataModel.csdl|res://*/SimplicityDataModel.ssdl|res://*/SimplicityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=PROD_SIMPLICITY;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>