div.products
{
    float:left;
}
#ourProducts
{
	padding-top:10px;
	padding-bottom:10px;    
}
div.products div.links img
{
    border:0;
}
div.products div.links a.moreDetails
{
	background: url(../Images/moreDetailsProducts.jpg) top left no-repeat; 
	height:190px; 
	width:200px;	
	overflow: hidden;
	display: block;
	vertical-align: middle;
	text-align: left;	
}

div.products div.links a.moreDetails:hover
{
	background-position:bottom left;
}

div.products div.links div.topLeft
{
    float: left;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    border-bottom-color: #cccccc;
    padding-left:5px;
    padding-right:5px;
    padding-bottom:3px;
}

div.products div.links div.topMiddle
{
    float: left;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    border-bottom-color: #cccccc;
    border-left-style: dotted;
    border-left-width: 1px;
    border-left-color: #cccccc;
    padding-left:5px;
    padding-right:5px;
    padding-bottom:3px;
}
div.products div.links div.bottomLeft
{
    float: left;
    padding-left:5px;
    padding-right:5px;
}
div.products div.links div.bottomMiddle
{
    float: left;
    border-left-style: dotted;
    border-left-width: 1px;
    border-left-color: #cccccc;
    padding-left:5px;
    padding-right:5px;
}